/* For firefox in order to have the blur effect the following settings must be set

layout.css.backdrop-filter.enabled > set to true
gfx.webrender.all preferences > set to true

under > about:config */

/* Note to self: margin: top right bottom left */

:root{
    --bgc: rgba(34, 34, 34, 0.692);
    --txtc: white;
    --brr: 10px;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    height: 100%;
    width: 100%;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background-color: thistle;
    background-image: url(images/background/ori-toor_gibberish-infographics_00.png);
    background-size: cover;
    background-position: center center;
}

.bg_blur{
    height: 100%;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.5);
    backdrop-filter: blur(10px);
}

.container{
    height: 600px;
    width: 920px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-areas:
        "image clock"
        "image main-links"
        "image main-links"
        "sub-links sub-links";
    grid-template-columns: 470px 600px;
    grid-template-rows: repeat(4,150px);
    grid-gap: 10px;
}

.container > div, img{
    border-radius: var(--brr);

    background-color: var(--bgc);
    backdrop-filter: blur(10px);
}

/* Image attributes */
.image{
    grid-area: image;
}

.image img{
    height: 470px;
}

/* Clock attributes */
.clock{
    grid-area: clock;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.clock_time{
    display: flex;
    flex-flow: row;

    margin-left: 75px;

    font-size: 175%;
    color: var(--txtc);
}

#js_ampm{
    font-size: 50%;
}

.clock_date{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin-right: 75px;

    font-size: 125%;
    color: var(--txtc);
}

/* Main links attributes */
.main_links{
    grid-area: main-links;

    display: flex;
    justify-content: center;

    color: var(--txtc);
}

.ml_content{
    display: flex;
    flex-flow: column;
    margin: 35px 15px 10px 15px;
}

/* Sub links attributes */
.sub_links{
    grid-area: sub-links;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    color: var(--txtc);
}

.sl_content{
    display: flex;
    flex-flow: column;
}

/* All links attributes */
.ml_content h2, .sl_content h2{
    /* text-decoration: underline; */
    border-bottom: 20px;
    border-color: orangered;
}

.ml_content a, .sl_content a{
    margin: 7.5px 0px 7.5px 15px;

    text-decoration: none;

    color: var(--txtc);
}

.ml_content a:hover, .sl_content a:hover{
    color: orangered;
}